.DS_Store
*.swp

frida-core-devkit*
frida-core.h
frida-core-linux.h
libfrida-core.a
libfrida-core-ios.a
libfrida-core-macos.a
libfrida-core-linux.a

node_modules
package.json
package-lock.json
out/

harness.js

fpicker.dSYM
fpicker

examples/test-network/test-network
examples/test/test
examples/test-network/in/*
examples/test/in/*

# only explicitly add the two example corpus files
!examples/test-network/in/0
!examples/test-network/in/1
!examples/test/in/0
!examples/test/in/1
